@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #181825;
    --color-blue: #31d2f2;
}

body {
    background-image: url(/mainbg.svg);
    background-size: auto;
    background-repeat: repeat;
    color: #fff;
    /* cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress; */
}

pre {
    background: transparent !important;
    background-color: #0000004f !important;
    border-radius: 8px;
}

pre code {
    font-size: 15px !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background-color: #161622;
}
::-webkit-scrollbar-thumb {
    background-color: #414153;
    border-radius: 50px;
}

.prj {
    height: 2000px;
}

.text-slider {
    width: 0;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing 8s linear;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0%,
    80%,
    100% {
        width: 0;
    }
    30%,
    50% {
        width: 375px;
    }
}
